- /api/v1/policy/network-access/policy-set
- /ers/config/networkdevicegroup
- /ers/config/allowedprotocols
- /api/v1/policy/device-admin/policy-set/global-exception
- /ers/config/sgt
- /api/v1/policy/network-access/dictionaries
- /ers/config/activedirectory/%v/addGroups
- /api/v1/policy/network-access/condition
- /ers/config/activedirectory/%v/joinAllNodes
- /ers/config/sgacl
- /api/v1/policy/device-admin/policy-set/%v/authentication
- /ers/config/allowedprotocols
- /api/v1/license/system/tier-state
- /ers/config/endpointgroup
- /api/v1/policy/device-admin/policy-set/%v/exception
- /ers/config/certificateprofile
- /api/v1/policy/device-admin/time-condition
- /ers/config/authorizationprofile
- /api/v1/policy/network-access/policy-set/%v/authentication
- /api/v1/policy/network-access/time-condition
- /ers/config/idstoresequence
- /api/v1/repository
- /ers/config/activedirectory
- /ers/config/activedirectory/%v/getGroupsByDomain
- /api/v1/policy/device-admin/policy-set/%v/authorization
- /api/v1/policy/device-admin/policy-set
- /api/v1/policy/network-access/policy-set/%v/exception
- /ers/config/tacacscommandsets
- /ers/config/sgmapping
- /ers/config/identitygroup
- /ers/config/egressmatrixcell
- /api/v1/policy/device-admin/condition
- /ers/config/downloadableacl
- /api/v1/policy/network-access/policy-set/%v/authorization
- /api/v1/policy/network-access/policy-set/global-exception
- /ers/config/internaluser
- /ers/config/networkdevice
- /ers/config/sgmappinggroup
- /ers/config/tacacsprofile
