- /template/feature/object/%i
- /v1/feature-profile/sdwan/system/%v/banner
- /v1/feature-profile/sdwan/system/%v/omp
- /v1/feature-profile/sdwan/system/%v/bfd
- /v1/feature-profile/sdwan/system/%v/aaa
- /v1/feature-profile/sdwan/system/%v/global
- /template/policy/list/aspath/
- /template/policy/definition/control/
- /template/policy/list/tloc/
- /template/policy/definition/advancedMalwareProtection/
- /v1/feature-profile/sdwan/cli/
- /template/policy/list/ipssignature/
- /template/policy/list/geolocation/
- /template/policy/definition/mesh/
- /template/policy/list/fqdn/
- /template/policy/list/preferredcolorgroup/
- /template/policy/definition/cflowd/
- /template/policy/list/expandedcommunity/
- /template/policy/definition/urlfiltering/
- /template/policy/list/sla/
- /template/policy/list/site/
- /template/policy/definition/vpnmembershipgroup/
- /template/policy/list/protocolname/
- /v1/feature-profile/sdwan/system/
- /template/policy/definition/aclv6/
- /template/policy/vedge/
- /template/policy/list/urlblacklist/
- /template/policy/definition/rewriterule/
- /template/policy/list/dataprefix/
- /template/policy/list/region/
- /template/policy/list/appprobe/
- /template/policy/list/localdomain/
- /template/policy/definition/ruleset/
- /template/policy/definition/securitygroup/
- /v1/feature-profile/sdwan/service/
- /template/policy/list/color/
- /template/policy/definition/hubandspoke/
- /template/policy/list/prefix/
- /template/policy/list/urlwhitelist/
- /device
- /template/policy/definition/approute/
- /template/policy/list/app/
- /template/policy/list/port/
- /template/policy/definition/data/
- /template/device/
- /template/policy/definition/vedgeroute/
- /template/device/
- /template/policy/definition/qosmap/
- /template/policy/vsmart/
- /v1/feature-profile/sdwan/transport/
- /template/policy/list/localapp/
- /template/policy/list/class/
- /template/policy/definition/deviceaccesspolicyv6/
- /template/policy/definition/dnssecurity/
- /template/policy/security/
- /template/policy/list/dataipv6prefix/
- /template/policy/list/community/
- /template/policy/list/mirror/
- /template/policy/list/vpn/
- /template/policy/definition/deviceaccesspolicy/
- /template/policy/list/extcommunity/
- /template/policy/definition/intrusionprevention/
- /template/policy/definition/sslutdprofile/
- /template/policy/definition/advancedinspectionprofile/
- /template/policy/definition/acl/
- /template/policy/list/zone/
- /template/policy/list/policer/
- /device/vedgeinventory/detail
- /template/policy/list/ipv6prefix/
