{
    "network_access_policy_sets": [
        {
            "data": {},
            "children":
                {
                    "network_access_authentication_rules": [],
                    "network_access_authorization_rules": []        
                }
            "endpoint": "/v1/xxx"
        }
    ],
    "users": [
        {
            "data": {},
            "endpoint": "/v1/xxx"
        }
    ]
} 